## Role Variables
{% if r.has_items("var") %}
{%  if r.is_role() %}
{% for item in  r.get_type("var") %}

* `{{ item.key }}`: `{{item.value }}` - {{ item.desc }}

{%  if item.example != "" %}{% include '_example.j2'  %}{% endif %}

{% endfor %}
{% else %}

{% for role in r.get_roles(False) %}
    {% if  r.get_type("var",role) %}
### {{ r.capitalize(r.fprn(role)) }}:
    {% endif %}
    {% for item in  r.get_type("var",role) %}
* `{{ item.key }}`: `{{item.value }}` - {{ item.desc }}
    {%  endfor %}
{% endfor %}
{% endif %}
{% endif %}
